{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4 mt-3">
  <h1 class="text-start">{{ title }}</h1>
</div>

<div class="container py-2">
  {% include "forms/includes/massages.html" %}
</div>

<div class="container py-4">
  <form method="POST" class="form-container" id="reg-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-field">
      <label for="{{ field.name }}">{{ field.label }}</label>
      {% if field.field.widget.input_type == 'checkbox' %}
      <div class="form-field-checkbox">
        {{ field }}
      </div>
      {% else %}
      {{ field }}
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="col-4 me-4 btn btn-lg">Отправить</button>
  </form>
</div>

<script type="text/javascript" src="{% static 'js/includes/form_validation.js' %}"></script>

{% endblock %}