html,
body {
  height: 100%;
}

body {
  align-items: center;
  font-family: Arial, sans-serif;
  color: #0f2853;
  background-color: #e7e7e7;
}

header {
  background-color: #b3b3b4;
}

a {
  text-decoration: none;
  color: #042448;
}

a:hover {
  color: #dc3545;
}

.btn {
  color: #d2d2d2;
  border: none;
  background-color: #063057;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: #fff;
  background-color: #dc6326;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none !important;
  transform: translateY(2px);
}

.btn-lg {
  max-width: 200px;
}

.btn-arrow {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.form-signin {
  display: flex;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.container {
  max-width: 960px;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
}

.card {
  width: 30%;
  background-color: #cfcfcf;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border: 0;
  outline: 1px solid #6f6f6f;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.3);
}

.card__title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card__deal-id {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.card__date {
  font-size: 14px;
  color: #333;
}

.card-inline {
  width: 100%;
  color: #414142;
  background-color: #cfcfcf;
  margin: 10px 0;
}

.pagination .page-item .page-link {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.pagination .page-item.active .page-link {
  color: #333;
  background-color: #cfcfcf;
  border-color: #ddd;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #063057;
}

/*.f-col {*/
/*  width: 25%;*/
/*}*/

/*.container-fluid {*/
/*  padding: 5%;*/
/*}*/

/*.alert {*/
/*  background-color: #f5c2c7;*/
/*  color: #000;*/
/*  position: absolute;*/
/*  top: 30px;*/
/*  right: 5%;*/
/*  text-align: center;*/
/*  box-shadow: 0 0 30px rgba(18, 17, 12, 0.5);*/
/*}*/

/*h1 {*/
/*  margin: 0;*/
/*  font-size: 2em;*/
/*}*/

/*main {*/
/*  padding: 20px;*/
/*}*/

/*input[type="number"] {*/
/*  background-color: #fff;*/
/*  vertical-align: top;*/
/*  outline: none;*/
/*  padding: 0;*/
/*  height: 40px;*/
/*  line-height: 40px;*/
/*  text-indent: 10px;*/
/*  display: inline-block;*/
/*  width: auto;*/
/*  box-sizing: border-box;*/
/*  border: 2px solid #ccc;*/
/*  border-radius: 3px;*/
/*}*/

/*input[type="number"]::-webkit-inner-spin-button,*/
/*input[type="number"]::-webkit-outer-spin-button {*/
/*  margin: 0;*/
/*  padding-left: 15px;*/
/*}*/

/*input[type="number"]:focus {*/
/*  outline: none;*/
/*  border: 2px solid grey;*/
/*}*/

/*.form-outline input[type='text'],*/
/*.form-outline input[type='email'],*/
/*.form-outline select,*/
/*.form-outline textarea {*/
/*  width: 100%;*/
/*  border: none;*/
/*  background-color: #e8e8e8;*/
/*  padding: .375rem .75rem;*/
/*  margin-bottom: 1rem;*/
/*  border-radius: 4px;*/
/*  box-sizing: border-box;*/
/*}*/