{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4 mt-3">
  <h1 class="text-start">{{ title|upper }}</h1>
</div>

<div class="container py-2">

  {% include "forms/includes/massages.html" %}

  <a href="{% url 'forms:index' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    На главную
  </a>
  <a href="{% url 'forms:form_list' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    Все формы
  </a>
</div>

<div class="container py-4">
  <form method="post" class="form-container">
    {% csrf_token %}

    <div class="form-field">
      <label>Ссылка на форму:</label>
      <h4><a href="{{ form_link }}">https://{{ domain_name }}{{ form_link }}</a></h4>
    </div>
    <div class="form-field">
      <label>ID мероприятия:</label>
      <h4>{{ deal_id }}</h4>
    </div>
    <div class="form-field">
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
    <div class="form-field">
      {{ form.end_date.label_tag }}
      {{ form.end_date }}
    </div>
    <div class="form-field">
      {{ form.stream_link.label_tag }}
      {{ form.stream_link }}
    </div>

    <hr class="form-field">

    {% for field in fields %}
    <div class="form-field form-field-checkbox">
      <label for="id_{{ field.label }}">{{ field.label }}:</label>
      <input class="form-check-input" type="checkbox"
             name="field-{{ field.field_type }}-{{ field.id }}" id="id_{{ field.label }}"
             {% if field.is_active %} checked {% endif %}>
    </div>
    <hr class="form-field">
    {% endfor %}

    <button type="submit" class="col-4 me-4 btn btn-danger btn-lg" name="delete" id="delete-button">
      Удалить форму
    </button>
    <button type="submit" class="col-4 me-4 btn btn-lg">Сохранить</button>
  </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#delete-button').click(function () {
            if (!confirm("Вы уверены, что хотите удалить этот элемент?")) {
                return false;
            }
        });
    });
</script>

{% endblock %}