{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4 mt-3">
  <h1 class="text-start">{{ title|upper }}</h1>
</div>

<div class="container py-2">

  {% include "forms/includes/massages.html" %}

  <a href="{% url 'forms:index' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    На главную
  </a>
  <a href="{% url 'forms:form_create' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    Создать
  </a>
</div>

<div class="container py-4">
  {% for card in page_obj %}
  {% include "forms/includes/inline_form_card.html" %}
  {% endfor %}

  {% include 'forms/includes/paginator.html' %}
</div>

{% endblock %}