{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4 mt-3">
  <h1 class="text-start">{{ title|upper }}</h1>
</div>

<div class="container py-2">
  <a href="{% url 'forms:index' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    Главная
  </a>
  <a href="{% url 'forms:form_list' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    Все формы
  </a>
</div>

<div class="container py-4">
  {% if form.errors %}
  <div class="alert alert-danger">
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
  <form method="post" class="form-container">
    {% csrf_token %}

    <!--    <div class="form-field">-->
    <!--      <label for="form_url">Ссылка на форму регистрации:</label>-->
    <!--      <input href="{{ form_url }}" id="form_url">{{ form.form_url }}</input>-->
    <!--    </div>-->
    <div class="form-field">
      {{ form.deal_id.label_tag }}
      {{ form.deal_id }}
    </div>
    <div class="form-field">
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>

    <hr class="form-field">

    {% for field in fields %}
    <div class="form-field form-field-checkbox">
      <label for="id_{{ field.label }}">{{ field.label }}:</label>
      <input class="form-check-input" type="checkbox"
             name="field-{{ field.field_type }}-{{ field.id }}" id="id_{{ field.label }}"
             {% if field.is_active %} checked {% endif %}>
    </div>
    <hr class="form-field">
    {% endfor %}

    <button type="submit" class="col-4 me-4 btn btn-lg btn-outline-primary">Сохранить</button>
  </form>
</div>

{% endblock %}