<!-- templates/forms/index.html -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<!--<div class="container py-4">-->
<!--  <h1 class="text-center">{{ title }}</h1>-->
<!--</div>-->

<div class="container py-4">
  <div class="row justify-content-evenly">
    <a href="#" class="col-4 btn btn-lg btn-outline-primary">
      <b>Создать новую форму</b>
    </a>
    <a href="#" class="col-4 btn btn-lg btn-outline-primary">
      <b>Список всех форм</b>
    </a>
  </div>
</div>

<div class="cards_container">
  {% include "forms/includes/form_card.html" %}
  {% include "forms/includes/form_card.html" %}
  {% include "forms/includes/form_card.html" %}
</div>

{% endblock %}