{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4 mt-3">
  <h1 class="text-start">{{ title|upper }}</h1>
</div>

<div class="container py-2">
  <a href="{% url 'forms:forms_list' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    Все формы
  </a>
  <a href="{% url 'forms:form_create' %}" class="col-4 me-4 btn btn-lg btn-outline-primary">
    Создать
  </a>
</div>

<div class="container cards_container">
  {% for card in cards %}
    {% include "forms/includes/form_card.html" %}
  {% endfor %}
</div>

{% endblock %}