{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ STATIC_VERSION }}"
        type="text/css"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <script type="text/javascript" src="{% static 'js/alert_message.js' %}"></script>
  <title>{% block title %}...{% endblock %}</title>
  {% block css %}{% endblock %}
</head>
<body>
<header>
  {% include "includes/header.html" %}
</header>

<main>
  {% block content %}Страница не доступна{% endblock %}
</main>

<footer class="container text-center py-4">
  {% include "includes/footer.html" %}
</footer>

</body>
</html>